@font-face {
  font-family: "Karla-Bold";
  src: url("../assets/fonts/Karla/static/Karla-Bold.ttf");
}
@font-face {
  font-family: "Rambla-Regular";
  src: url("../assets/fonts/Rambla/Rambla-Regular.ttf");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../assets/fonts/Rubik/static/Rubik-Bold.ttf");
}
