@import "../sass/variables.scss";
@import "../sass/mixins.scss";

header {
  background-image: url(../assets/images/Header.jpg);
  width: 100%;
  height: 613px;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;
}

.navbar {
  &__ul {
    &__btn {
      border-radius: 30px;
    }
  }
}
.hero {
  &__title {
    font-family: "Rubik-Bold";
  }
  &__text {
    font-family: "Rambla-Regular";
  }
}
