@import "../sass/mixins.scss";
.btn {
  padding: 12px 89px;
  border-radius: 10px;
  border: 1px solid #ff971d;
  background-color: rgba(255, 151, 29, 0.1);
  color: #ff971d;
  font-family: "Rubik-Bold";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 18px;
}
.recommendedBooks {
  @include for-tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }
}
.box__span {
  @include for-tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }
}
.recomended {
  &__card {
    @include for-tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
